.dice1{
    background: url("dices.png") -0px -65px;
    width: 65px;
    height: 65px;
    display:block;
    background-repeat: no-repeat;
    float: left;
    margin:1px;

}
.dice2{
    background: url("dices.png") -66px -65px;
    width: 65px;
    height: 65px;
    display:block;
    float: left;
    background-repeat: no-repeat;
    margin:1px;
}
.dice3{
    background: url("dices.png") -132px -65px;
    width: 65px;
    height: 65px;
    display:block;
    float: left;
    background-repeat: no-repeat;
    margin:1px;
}
.dice4{
    background: url("dices.png") -198px -65px;
    width: 65px;
    height: 65px;
    display:block;
    float: left;
    background-repeat: no-repeat;
    margin:1px;
}
.dice5{
    background: url("dices.png") -264px -65px;
    width: 65px;
    height: 65px;
    display:block;
    float: left;
    background-repeat: no-repeat;
    margin:1px;
}
.dice6
{
    background: url("dices.png") -330px -65px;
    width: 65px;
    height: 65px;
    display:block;
    background-repeat: no-repeat;
    float: left;
    margin:1px;
}
.diceSetup
{
    width:1800px;
    display: block;
    position:absolute;
    left:250px;
    top:250px;
}
button{
    height: 40px;
    font-size: 16px;
    background-color:#EEEEEE;
    border-color: #AAAAAA;
    border-width: 3px;
    border-radius: 45%;
    padding: 8;
    outline: none;
}
input {

    background-color: transparent;
    height: 40px;
    Border:0px;
    font-size: 38px;   
    color:white;
    font-family: 'Gloria Hallelujah', cursive;
    width:150px;
}
.inputAlert
{
    background-color: lightcoral;
    height: 40px;
}
.isInactive
{
    color: lightgray;
}
.isActive
{
    color:lightseagreen;
}
.title{
    /*font-family: 'Fredericka the Great';*/
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 38px;
    font-weight: bold;
    color:white;
}
.diceTable{
    height:620px;
    width: 950px;
    display: block;
    background: url("table.jpg") -40px -200px;
    float:left;
}
.blackboard
{
    display: block; 
    background-color:black;
    border:3px solid #999999; 
    width:400px;
    float:left; 
    padding:10px;
}
.currentScorer{
    
    font-size: 32px;
    color: white;
    width:200px;
    Height:48px;
    top:100px;
    left: 150px;
    display: block;
    position: absolute;

}